
<div class="parallax-container">
	<div class="parallax">
		<%= image_tag "alfacurran.jpg", width: "100%"%>
	</div>

	<div class="container">
		<div class="row ">
			<div class="col s10 offset-s1">
				<% if user_signed_in?%>
					 <br><br><br><h3 class="center-align titulo-index">Bienvenido <%= current_user.usuario %> a Tienda San Benito </h3>
				<% else %>
					 <br><br><br><h3 class="center-align titulo-index">Bienvenido a Tienda San Benito</h3>
				<% end %>
			</div>
		</div>	
		
	</div>
</div>

<div>
	<br><h4 class="center-align">Venga conozca y compre los mejores productos!!!</h4><br>
</div>

<div class="container blue-grey darken-3 z-depth-5">
		<div class="row">
	     <div class="blue-grey darken-3">
			<div class="slider col s12 blue-grey darken-3" >
				<ul class="slides">
				  <li>
				   <%=image_tag "cablesTubos.jpg"%>
				    <div class="caption left-align">
				      <h4 class="red-text text-accent-4">Productos para tu constucción</h4>
				      <h5 class="red-text text-darken-3">encuentra los mejores productos de gran calidad.</h5>
				    </div>
				  </li>
				  <li>
				    <%=image_tag "herramientas.jpg"%>
				    <div class="caption left-align">
				      <h4 class="grey-text text-darken-4">Productos para tu constucción</h4>
				      <h5 class="grey-text text-darken-3">encuentra los mejores productos de gran calidad.</h5>
				    </div>
				  </li>
				  <li>
				    <%=image_tag "animales.png"%>
				    <div class="caption right-align">
				      <h4 class="grey-text text-darken-4">Productos para tu constucción</h4>
				      <h5 class="grey-text text-darken-3">encuentra los mejores productos de gran calidad.</h5>
				    </div>
				  </li>
				  <li>
				    <%=image_tag "vacas.jpg"%>
				    <div class="caption center-align">
				      <h4 class="grey-text text-darken-4">Productos para tu constucción</h4>
				      <h5 class="grey-text text-darken-3">encuentra los mejores productos de gran calidad.</h5>
				    </div>
				  </li>
				  <li>
				    <%=image_tag "claro3.jpg"%>
				    <div class="caption center-align">
				      <h4 class="grey-text text-darken-4">Productos para tu constucción</h4>
				      <h5 class="grey-text text-darken-3">encuentra los mejores productos de gran calidad.</h5>
				    </div>
				  </li>
				</ul>
			</div>	
		  </div>		      
		</div>
	</div>
	<br>


<div class="container espacio">
	<br><br><h4 class="center-align">Conozcanos mejor</h4>
</div>

<div class="container">
	<div class="row">
			<div class="col s12 m4">
				<div class="card small ">
				    <div class="card-image waves-effect waves-block waves-light">
				      <%= image_tag "herramientas.jpg", class: "activator"%>
				    </div>
				    <div class="card-content blue-grey darken-4">
				      <center><span class="card-title activator ">Ver Productos<i class="material-icons right">more_vert</i></span></center>
				      <div class="right-align">
				      	<br><p><a href="/products" class="right-align">Ir a Productos<i class="material-icons right">web</i></a></p>
				      </div>
				    </div>
				    <div class="card-reveal blue-grey darken-3 center-align">
				      <span class="card-title">Nuestros Productos<i class="material-icons right">close</i></span>
				      <p>Ofrecemos distintos tipos de productos, desde material de ferreteria basico hasta medicina para ganadado vacuno, efectuamos recargas y más.</p>
				      <p>Ingresa y ve el catálogo de todos los productos que ofrecemos.</p>
				    </div>
				  </div>
			</div>	

			<div class="col s12 m4">
				<div class="card small">
				    <div class="card-image waves-effect waves-block waves-light">
				      <%= image_tag "Familia.JPG", class: "activator"%>
				    </div>
				    <div class="card-content blue-grey darken-4">
				      <center><span class="card-title activator ">Sobre Nosotros<i class="material-icons right">more_vert</i></span></center>
				      <div class="right-align">
				      	<br><p><a href="/users/sign_up" class="right-align">Unetenos<i class="material-icons right">queue</i></a></p>
				      </div>
				    </div>
				    <div class="card-reveal blue-grey darken-3 center-align">
				      <span class="card-title">Sobre nosotros<i class="material-icons right">close</i></span>
				      <p>Somos una Familia San Benitera dedicados a la agricultura y ganaderia, para aumentar el sustento de la familia y ofrecer al publico productos que encuentras en muy pocas tiendas de San Benito, abrimos la pequeña tienta que ya  conoces.</p>
				      <p>Unete a esta gran familia, crea una cuenta para facilitar y mejorar tus compras.</p>
				    </div>
				  </div>
			</div>

			<div class="col s12 m4">
				<div class="card small">
				    <div class="card-image waves-effect waves-block waves-light">
				      <%= image_tag "SanBenito2.JPG", class: "activator"%>
				    </div>
				    <div class="card-content blue-grey darken-4">
				      <center><span class="card-title activator ">Ingresa al Site<i class="material-icons right">more_vert</i></span></center>
				      <div class="right-align">
				      	<br><p><a href="/users/sign_in" class="right-align">Inicia sesión<i class="material-icons right">assignment_ind</i></a></p>
				      </div>
				    </div>
				    <div class="card-reveal blue-grey darken-3 center-align">
				      <span class="card-title">Ingresa al site<i class="material-icons right">close</i></span>
				      <p>Al entrar en nuestro site puedes hacer tus compras más fáciles, rápidas y seguras, y ayúdanos a crecer.</p>
				      <p>Inicia sesión y mejora tu forma de comprar.</p>
				    </div>
				  </div>
			</div>
		</div>
</div>

<div class="container">
	<br><br><h4 class="center-align">Gracias Por tu Preferencia!!!</h4>
</div>

<div class="parallax-container espacio">
	<div class="parallax">
		<%= image_tag "potrero.JPG", width: "100%"%>
	</div>
</div>







