<!DOCTYPE html>
<html>
<head>
  <title>StoreSB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="light-green lighten-4">

<%= render "partials/navigation" %>

<%= yield %>

<%= render "partials/final" %>

<script type="text/javascript">
  $(document).ready(function(){
      $('.parallax').parallax();
      $(".button-collapse").sideNav();
      $('.slider').slider({Interval: 4000, Transition: 300});
      $('.modal-trigger').leanModal();
  });
  
</script>

</body>

</html>
